header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: 'Poppins', sans-serif; }
  header nav {
    display: flex;
    width: 50%;
    align-self: flex-end;
    align-items: center;
    letter-spacing: 1px;
    justify-content: space-around;
    text-transform: uppercase;
    color: #4D4D4D; }
    header nav a {
      text-decoration: none;
      color: #4D4D4D; }

button {
  background: #04A57A;
  color: white;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  border: none;
  letter-spacing: 2px; }

main {
  height: 1080px;
  background-image: url("../Page Assets/paleo-hero.jpg");
  background-size: cover; }

.main {
  margin: 0 auto;
  width: 60%;
  padding: 5rem 0 0;
  text-align: center;
  display: flex;
  height: 45%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  line-height: 50px;
  font-family: "Heebo", sans-serif; }
  .main h1 {
    font-size: 50px;
    font-weight: 700; }
  .main h5 {
    font-weight: 300;
    color: #414141;
    font-size: 16px;
    line-height: 28px; }
  .main button {
    background: #025a43;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem; }

.points {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  height: 100px;
  color: #04A57A;
  letter-spacing: 2px; }
  .points * {
    padding: 2.5rem;
    font-weight: 500; }

section {
  padding: 3.5rem;
  background: #e7e7e7;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center; }
  section .types {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    letter-spacing: 1px;
    color: #231F20; }
  section .info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section .info img {
      object-fit: cover;
      width: 50%;
      max-width: 100%;
      max-height: 100%; }
  section .part {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    width: 45%;
    height: 50%;
    padding: 2em;
    margin: 0; }
    section .part * {
      margin: 10px; }
    section .part .sub {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      letter-spacing: 2px; }
    section .part .info--main {
      font-family: "Heebo", sans-serif;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 2rem; }
    section .part .desc {
      font-family: "Heebo", sans-serif;
      font-weight: 300;
      line-height: 28px; }
  section h1 {
    text-align: center;
    font-size: 2.5rem; }
  section div {
    margin: 50px; }
  section .circle {
    width: 55px;
    margin: 10px;
    height: 55px;
    display: inline-block;
    border-radius: 50%;
    background: #D8D8D8; }

footer {
  padding: 10em 5em;
  min-height: 100vh;
  background: #e7e7e7; }
  footer .contact {
    margin: 0 50px;
    padding: 0 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-style: italic; }
    footer .contact h4 {
      font-weight: 300;
      font-size: 1.2rem; }
  footer .socials {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 20%; }
    footer .socials img {
      width: 40px; }
  footer .email {
    margin: 0 50px;
    padding: 0 3.5rem;
    display: flex;
    justify-content: flex-end; }
  footer input {
    padding: .5rem 1.5rem;
    border: none; }
    footer input::placeholder {
      font-family: "Heebo", sans-serif; }
  footer .submit {
    background: #242424;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    margin-left: 10px; }
  footer .links {
    display: flex;
    text-align: left;
    width: 85%;
    justify-content: space-between; }
    footer .links h4 {
      font-size: 1.2rem;
      letter-spacing: 2px;
      font-weight: 500;
      margin-bottom: 20px; }
    footer .links ul {
      line-height: 30px;
      font-family: "Heebo", sans-serif;
      list-style-type: none;
      font-weight: 300;
      color: #4A4A4A; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif; }

/*# sourceMappingURL=index.css.map */
