//Colors
$primary-color: #04A57A;
$text-color: #4D4D4D;
$text-color-dark: #231F20;

//Size
$xlarge-text: 50px;
$med-text: 1.2rem;
$large-text: 2rem;

$main-font: 'Heebo', sans-serif;
$secondary-font: 'Poppins', sans-serif;